/* @media only screen and (max-width: 767px) {
    #footer [class*="col-"] {
    padding-left: 25px!important;
    padding-right: 25px!important;
    }
    #footer .qms-form-module .row >[class*="col-"] {
    padding-left: 0!important;
    padding-right: 0!important;
    }
    #footer .qms-form-module .form-group > [class*="col-"] {
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
    #footer .margin-none-copyright-social, [class*="col-"] .margin-none-copyright-social {
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
    #footer [class*="col-"] .lc-copyright-left {
    padding-left: 15px!important;
    padding-right: 15px!important;
    }
} */
